<h1><%= @restaurant.name %></h1>
<p>Cuisine: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Contact: <%= @restaurant.phone_number %></p>

<p><strong>Reviews</strong></p>

<% @restaurant.reviews.each do |review| %>
<ul>
    <li>
    <%= review.content %> ||
    <%= review.rating %> star ||
    <%= link_to "Delete",review_path(review.id),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%> ||
    </li>
</ul>
<% end %>
<p><%= link_to "Add Review",  new_restaurant_review_path(@restaurant.id )%></p>
<p><%= link_to "Delete Restaurant", @restaurant, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %></p>
<p><%= link_to "Restaurants List", restaurants_path %></p>
